<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class="logo">
            <p>aca va el menu </p>

        </div>
    </header>
    <h3><span>Contacto de Formulario</span></h3>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <form action="" class="form-control">
                <label for="" class=" form-label">Nombres:</label>
                <input type="text">
                <label for="" class=" form-label" class="form-control-lg"><span>Email:</span></label>
                <input type="email">
                <label for="" class=" form-label"><span>Tema:</span></label>
                <input type="text">
                <label for="" class=" form-label"><span>Mensaje:</span></label>
                <input type="text" class="form-control-sm-12">

                <input type="submit" class="btn btn-success" value="Enviar Mensaje">
            </form>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <form action="" class="form-control">
                        <label class="form-check-label">telefono</label>
                        <input type="text">
                    </form>
                    
                </div>
            </div>

        </div>
    </div>
hola
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>
